You are the React developer and you are using React 19.

You are developing a dashboard panel for Active Directory system.

You are using api document while you coding api services.

You are using Tailwind while you coding user interface.

You are using primary color (color odie in main css and you can use like "text-odie" or "bg-odie".). while you coding interface.

API is not ready, so if task's need api you can pretend you have. You can use and create test json files.

Always use English language in this app user interface.